@font-face {
  font-family: 'Marcellus';
  src: url('/fonts/Marcellus.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'songti';
    src:  url('/fonts/FZQKBYSJW--GB1-0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  /* 核心视觉字体 */
  --font-family-one: 'Marcellus', serif;  /* Logo、按钮、标签标题 */
  --font-family-two: 'Hanalei Fill', 'Marcellus', serif;  /* 英雄区标题、二级标题 */
  --font-family-three: 'songti', serif;

  /* 通用正文字体栈 */
  --font-family-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


/* Logo */
.entry-header h2, #menu a, .entry-content, .post-title {
  font-family: var(--font-family-one); 
}
.logo a {
  font-family: var(--font-family-two); 
}

.entry-header h1 {
  font-family: var(--font-family-three); 
}


/* 调整 H2 字体大小和字重 */
/* .entry-header {
  font-family: var(--font-family-one); 
  font-size: 2rem !important;
  font-weight: 700 !important;
  line-height: 1.0;
} */

.post-title {
  font-size: 3rem !important;
}

/* 按钮 / 标签页标题 */
.button, .tab-title {
  font-family: var(--font-family-body);
}

/* 英雄区标题 / 二级标题 */
.hero-title, .post-meta, .breadcrumbs {
  font-family: var(--font-family-body);
}

body {
  font-family: var(--font-family-one);
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-normal);
}

/*列表样式*/
/* 每个文章列表项设置为 flex 布局 */
.post-entry {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;  /* 顶部对齐 */
  gap: 16px;                /* 图片和文字间距 */
}

/* cover 图像容器固定宽度 */
.post-entry .post-cover {
  flex: 0 0 150px; /* 宽度 150px */
  max-width: 150px;
}

/* 内容部分自适应 */
.post-entry .entry-header,
.post-entry .entry-content {
  flex: 1;
}

/* 图片自适应容器 */
.post-entry .post-cover img {
  width: 100%;
  height: auto;
  display: block;
}
